/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transition: 500ms
  transition-timing-function: ease-in-out
  height: 0
  opacity 0
  padding: 0 !important
  &.order-enter-active
    height: 60px
    opacity 1
    padding 2rem 0

.order-exit
  transition: 250ms
  transition-timing-function: ease
  transform: translateX(0)
  &.order-exit-active
    transform: translateX(120%)
    padding: 0 !important

.count-enter
  transition: 250ms
  transition-timing-function: ease-out
  transform: translateY(100%)
  &.count-enter-active
    transform: translateY(0)

.count-exit
  transition: 250ms
  transition-timing-function: ease-in
  transform: translateY(0)
  position absolute
  left 0
  bottom 0

  &.count-exit-active
    transform: translateY(-100%)
